
<br>
<div class="texto">
    <p>Nosso projeto tem o intuito apresentar a solução da Microsoft para o WebAssembly chamada Blazor!
        Alem disso temos a proposta de agilizar o desenvolvimento com Blazor casando o pardão REST e componentes
        criado por nós para desenvolvimento WEB usando o MaterialDesign como base.</p>
</div>
<h1> Membros</h1>
<div class="container">
    <div class="row">
        <div class="col-6">
            <img src="../assets/img/jho.png" alt="Jhonatan Candido" width="200" height="200">
            <p>Responsável pelo Angular, 082170016</p>
        </div>
        <div class="col-6">
            <img src="../assets/img/paulo.png" alt="Paulo de Tarso" width="200" height="200">
            <p>Responsável pelo teórica, 082170024</p>
        </div>
        <div class="col-6">
            <img src="../assets/img/thiago.png" alt="Thiago Fernandes" width="200" height="200">
            <p>Responsável pela gerencia, 082170029</p>
        </div>
        <div class="col-6">
            <img src="../assets/img/luiz.png" alt="Luiz Gustavo" width="200" height="200">
            <p>Responsável pelo Blazor, 082170039</p>
        </div>
    </div>
</div>