<ul>
    <div>
        <img class="ftt" src="../assets/img/ftt.png" alt="Logo FTT" height:auto>
    </div>
    <li class="menu"><a routerLink="/home" class="bi bi-house-door-fill"> Home</a></li>
    <li class="menu"><a routerLink="/dialog" class="bi bi-bell-fill"> Dialog</a></li>
    <li class="menu"><a routerLink="/toaster" class="bi bi-list-ul"> Toaster</a></li>
    <li class="menu"><a routerLink="/select" class="bi bi-card-heading"> Select</a></li>
    <li class="menu"><a routerLink="/input" class="bi bi-pencil-fill"> Input</a></li>
    <li class="menu"><a routerLink="/button" class="bi bi-pencil-fill"> Button</a></li>
    <li class="menu"><a routerLink="/post/index" class="bi bi-pencil-fill"> CRUD</a></li>
    <li class="menu"><a href="https://github.com/luizgustavo77/FTTAngular" target="_blank" class="bi bi-code">
            GitHub</a></li>
</ul>

<div style="margin-left:25%;padding:1px 16px;height:1000px;">
    <div class="titulo">
        <img class="logo" src="../assets/img/angular.png" alt="texto" width="100">
        <h1 class="">FTT Angular</h1>
    </div>

    <router-outlet></router-outlet>

</div>