<h1>Toaster</h1>
<br>
<h2>Exemplo</h2>
<p class="texto">Clicando nos botões abaixo a notificação vai abrir, irá sobrepor tudo atrás da página.</p>
<div class="container">
    <div class="row">
        <button (click)="showToasterSuccess()" class="btn btn-success">
            Success Toaster
        </button>
        <button (click)="showToasterError()" class="btn btn-danger">
            Error Toaster
        </button>
        <button (click)="showToasterInfo()" class="btn btn-info">
            Info Toaster
        </button>
        <button (click)="showToasterWarning()" class="btn btn-warning">
            Warning Toaster
        </button>
    </div>
</div>