.col-6 {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid;
    text-align: center;
  }

.titulo{
    text-align: center;
    border-bottom: 1px solid;
}
.texto{
    text-align: justify;
    border: 1px solid;
    
    word-break: break-word;
}
/*align="left" - Colocar no HTML*/
/*npm i bootstrap-icons*/
.logo{
    /*align-items: flex-start;
    width: 200px;  
    margin-right: auto;
    border: 1px solid;
    text-align: center;*/
    position: static; 
	left: 90px; /* posiciona a 90px para a esquerda */ 
	top: 70px; /* posiciona a 70px para baixo */
}
/*<div style="margin-left:25%;padding:1px 16px;height:1000px;">*/



.toaster {
  position: absolute;
  bottom: 8px;
  right: 16px;
  font-size: 18px;
  margin-right: auto;
}
.toast-info {
    color: white;
    background-color: blue;    
}
.toast-sucesso {
    color: white;
    background-color: green;    
}
.toast-aviso {
    color: white;
    background-color: yellow;    
}
.toast-erro {
    color: white;
    background-color: red;    
}